.container{
    background-color: rgb(255, 0, 0);
    width: 740px;
}
.nav{
    padding: 1px;
    background-color: #312e2e;
}
.nav-link{
    padding: 0.8rem;
    text-decoration: none;
    color: #fff;
    font-family: Bold;
}
article{
    padding: 0.8rem;
    background-color: rgb(255, 0, 0);
    color: #fff;
}
footer p{
    text-align: center;
    color: #fff;
}